<div class="button-div">
    <button id="{{action}}" class="no_select mac-button" onclick=onButtonPressed('{{action}}')>
        <span class="no_select">{{label}}</span>
    </button>
    {{#repeatKey}}
        <script type="text/javascript">

            var pressTimer;
            var intervalId;

            function onPointUp() {
                clearInterval(intervalId);
                clearTimeout(pressTimer);
            }

            function onPointDown() {
                pressTimer = setTimeout(() => {
                    intervalId = setInterval(() => {
                        onButtonPressed('{{action}}');
                    }, 100);
                }, 500);
            }

            $('#{{action}}')
                    .on('mouseup', onPointUp)
                    .on('mousedown', onPointDown)
                    .on('touchend', onPointUp)
                    .on('touchstart', onPointDown);
        </script>
    {{/repeatKey}}
</div>