<script type="text/javascript">

    function SeekSliderHandler(id) {

        this.pressed = false;
        this.previousValue = 0;

        this.onPointerMove = () => {
            if (this.pressed) {
                const currentValue = document.getElementById(id).value;
                if (this.pressed === true && this.previousValue !== currentValue) {
                    _onSeekSliderAction(parseInt(currentValue));
                    this.previousValue = currentValue;
                }
            }
        }

        function _onSeekSliderAction(speed) {
            $.ajax({
                type: "POST",
                url: "/api/v1/sliders/seek",
                data: JSON.stringify({"speed": speed}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function(errMsg) {
                    if (errMsg.status !== 200) {
                        console.log('failure: ' + JSON.stringify(errMsg));
                    }
                }
            })
        }

        this.onPointerDown = () => {
            this.pressed = true;
        }

        this.onPointerUp = () => {
            const thiz = this;
            // Without that little setTimeout trick the range slider will not return to the default position on Firefox
            setTimeout(() => {
                document.getElementById(id).value = 0;
                thiz.onPointerMove();
                thiz.pressed = false;
            }, 50);
        }

        return this;
    }

    let _ssh = new SeekSliderHandler('seek-slider-id');

</script>

<div>
    {{#sliders}}
        {{#seek}}
            <input id="seek-slider-id" orient="vertical" type="range" min="{{min}}" max="{{max}}" step="{{step}}"
                   onmousedown="_ssh.onPointerDown();" onmouseup="_ssh.onPointerUp();"  onmousemove="_ssh.onPointerMove();"
                   ontouchstart="_ssh.onPointerDown();" ontouchend="_ssh.onPointerUp();" ontouchmove="_ssh.onPointerMove();"
            />
        {{/seek}}
    {{/sliders}}
</div>