<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta name="viewport" user-scalable=0">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>{{title}}</title>
  <link type="text/css" rel="stylesheet" href="stylesheet.css">
  <link type="text/css" rel="stylesheet" href="tooltip.css">
  <link type="text/css" rel="stylesheet" href="web-button.css">
  <script type="text/javascript" src="jquery-3.5.1.min.js"></script>
  <script type="text/javascript">
    function onButtonPressed(action) {
        $.ajax({
            type: "POST",
            url: "/api/v1/button",
            data: JSON.stringify({"action": action}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result) {
                $.each(result, function(field, v) {
                   if (field === 'reload' && v === true) {
                       location.reload();
                    }
                });
            },
            error: function(result) {
                console.log('error: ' + JSON.stringify(result));
            }
        });
    }
  </script>
</head>
