<body>
  {{> sliders/speed-slider}}
  {{> sliders/seek-slider}}
  {{> buttons/web-button-0}}
  {{> buttons/web-button-1}}
  {{> buttons/web-button-2}}
  {{> buttons/web-button-3}}
  {{> buttons/web-button-4}}
</body>