<body>
    <table>
        <tr>
            <td rowspan="5" >
                {{> sliders/seek-slider}}
            </td>
        </tr>
        <tr>
            <td style="height: 20vh">
                {{> buttons/web-button-0}}
            </td>
            <td style="height: 20vh">
                {{> buttons/web-button-1}}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 30vh">
                {{> buttons/web-button-2}}
            </td>
        </tr>
        <tr>
            <td style="height: 20vh">
                {{> buttons/web-button-3}}
            </td>
            <td  style="height: 20vh">
                {{> buttons/web-button-4}}
            </td>
        </tr>
        <tr>
            <td style="height: 20vh">
                {{> buttons/web-button-5}}
            </td>
            <td style="height: 20vh">
                {{> buttons/web-button-6}}
            </td>
        </tr>
    </table>
</body>